@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  margin: auto;
  width: 100%;
  max-width: 1328px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Buttons-------------------- */
button {
  border-radius: 15px;
  border: none;
  outline: none;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 0 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  /* identical to box height, or 207% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Icons & Fonts */
  transition: 0.15s ease;
  cursor: pointer;
}

button:hover {
  box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
}

button.primary {
  color: #ffffff;
  background: #4388f8;
}
button.secondary {
  color: #b0b7c3;
  background: #fafbfc;
}

/* tab-------------------- */
.tab-wrapper > *:not(:first-child) {
  margin-left: 16px;
}
.tab {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 29px;
  /* identical to box height, or 207% */

  display: flex;
  align-items: center;

  /* Text 2 */
  height: 43px;
  color: #4e5d78;
  padding: 0 14px;
  background: #fafbfc;
  border-radius: 15px;
  cursor: pointer;
}
.active-tab {
  background: #f4f8ff;
  color: #4388f8;
}
/* Header-------------------- */
header {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
.header-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;

  background: #fafbfc;
  border-radius: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  /* identical to box height, or 207% */

  display: flex;
  align-items: center;
  cursor: default;

  /* Text 4 */

  color: #b0b7c3;
}

/* AUTH-------------------- */
.auth-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  max-width: 540px;
}
.auth-wrap > *:not(:last-child) {
  margin-bottom: 30px;
}
.welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
}
.welcome-message h1 {
  height: 20px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  /* or 112% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Text 1 */
  color: #323b4b;
  margin: 0;
}
.welcome-message p {
  height: 21px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  /* or 161% */

  display: flex;
  align-items: center;
  text-align: center;

  /* Text 3 */

  color: #8a94a6;
  margin: 0;
}
.auth-wrap button {
  height: 58px;
  width: 100%;
  background: #377dff;
  border-radius: 15px;
  outline: none;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */

  display: flex;
  align-items: center;

  color: #ffffff;
  cursor: pointer;
  transition: 0.15s ease;
}
.auth-wrap button:hover {
  background: #5d95fd;
  box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
}
p.auth-footer {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  /* Text 4 */

  color: #b0b7c3;
}
p.auth-footer a {
  color: #377dff;
}

/* Auth Input-------------------- */
.Auth-input input {
  height: 58px;
  width: min(Calc(100vw - 48px), 540px);
  padding: 17px;

  background: #ffffff;
  /* BG 2 */

  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */
  transition: 0.15s ease;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #4e5d78;
  outline: none;
}
.Auth-input input:hover {
  border: 1px solid #377dff;
}
.Auth-input input:focus {
  border: 1px solid #377dff;
  box-shadow: 0px 12px 23px rgba(55, 125, 255, 0.06);
}
.Auth-input input::placeholder {
  color: #b0b7c3;
}

/* List ------------------- */
.List-wrapper {
  background: #fafbfc;
  border-radius: 20px;
  padding: 35px;
}
.List-wrapper h1 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height, or 161% */

  display: flex;
  align-items: center;

  /* Text 1 */

  color: #04141d;
}
.List-wrapper h1 span.sub-title {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height, or 161% */

  display: flex;
  align-items: center;

  /* Text 4 */

  color: #b0b7c3;
}

ul.list-contaiener {
  background: white;
  border-radius: 15px;
  padding: 35px;
  margin-top: 32px;
  list-style-type: none;
}
ul.list-contaiener li {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 2fr 2fr 2fr;
  padding: 0 24px;
}
ul.list-contaiener > *:not(:last-child) {
  margin-bottom: 12px;
}
ul.list-contaiener li.list-header {
  background: #fafbfc;
  border-radius: 15px;

  height: 51px;
}
ul.list-contaiener li.list-header p {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* or 200% */

  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;

  /* Text 2 */

  color: #4e5d78;
}

ul.list-contaiener li.list-item {
  height: 80px;
  transition: 0.15s ease;
  border-radius: 15px;
}
ul.list-contaiener li.list-item:hover {
  background: #f4f8ff;
}
ul.list-contaiener li.list-item h6 {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  /* or 24px */

  /* Text 2 */

  color: #4e5d78;
  color: #4e5d78;
  margin: 0;
}
ul.list-contaiener li.list-item p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  /* or 290% */

  color: #b0b7c3;
  margin: 0;
}
/* Modal-------------------- */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: max(100%, 100vw);
  width: 100vw;
  background: rgba(50, 59, 75, 0.3);
  backdrop-filter: blur(5px);
  /* display: flex;
  justify-content: center; */
}
.modal-wrapper {
  margin: auto;
  margin-top: 10%;
  width: 100%;
  max-width: 475px;
  padding: 30px;
  /* height: 100%; */
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 20px;
}
.modal-wrapper h2 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  /* identical to box height, or 161% */

  display: flex;
  align-items: center;

  /* Text 2 */

  color: #4e5d78;
  margin-bottom: 0;
}
.modal-wrapper p {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  /* or 164% */

  display: flex;
  align-items: center;

  color: #b0b7c3;
  margin-top: 8px;
}
.modal-ino {
  border-bottom: 1px solid #f3f3f3;
}
.divider-line {
  height: 100px;
  border-right: 1px solid #f3f3f3;
}

.modal-product-list {
  padding: 0;
}
.modal-product-list > *:not(:last-child) {
  margin-bottom: 8px;
}

.order-product {
  background: #fafbfc;
  border-radius: 15px;
  padding: 16px;
  width: 100%;
  border: 2px solid #fafbfc;
}
.order-product.active-product {
  border: 2px solid #4388f8;
  background: #e5f1fd;
}
.order-product h4 {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  /* Text 2 */

  color: #4e5d78;
  margin: 0;
}
.order-product p {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  /* or 175% */

  display: flex;
  align-items: center;

  /* Text 4 */

  color: #b0b7c3;
  margin: 2px;
}

.checkbox {
  background: #fafbfc;
  /* Primary 1 */
  display: block;

  border: 1px solid #4388f8;
  box-sizing: border-box;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
}

.order-product img {
  width: 145px;
  height: 100px;
  border-radius: 10px;
  margin: 0 16px;
}

.modal-wrapper input {
  height: 58px;
  width: 100%;
  padding: 17px;

  background: #ffffff;
  /* BG 2 */

  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  /* or 181% */
  transition: 0.15s ease;

  display: flex;
  align-items: center;
  box-sizing: border-box;
  color: #4e5d78;
  outline: none;
}
.modal-wrapper input:hover {
  border: 1px solid #377dff;
}
.modal-wrapper input:focus {
  border: 1px solid #377dff;
  box-shadow: 0px 12px 23px rgba(55, 125, 255, 0.06);
}
.modal-wrapper input::placeholder {
  color: #b0b7c3;
}

/* Orders-------------------- */
.orders-wrapper {
  width: 100%;
  box-sizing: border-box;
  max-width: 1120px;
  padding: 16px 35px;
  z-index: 100;
}

/* FLEXBOX-------------------- */
.flex-center-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-center-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-btw {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-top-btw {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-top-right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.flex-bottom-btw {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* OTHER--------------------- */
.fill-vertical {
  height: Calc(100vh - 100px);
}
.self-center {
  align-self: center;
}
